@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.commentInput {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.commentTextArea {
  flex-grow: 1;
  padding: 5px;
  border: none;   
  outline: none;
  resize: vertical;
}

.textarea-container textarea {
  /* Styles for the textarea */
  width: 100%;
  padding: 10px;
}

.replyTextarea {
  width: 100%;
  padding: 10px;
  /* Other styles */
}

.customTextarea {
  width: 100%;
  padding: 10px;
  /* Other styles */
}

.container {
  display: flex;
/* flex-flow: row nowrap; */
  flex-direction: row; 
}

.mainContent {
 padding: 10px;  
}
